{% extends 'sales/base.html' %}
{% block title %}Login{% endblock %}

{% block body %}

<div class="panel-user">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="text-center mb-3">Login</legend>
            <div class="input-group mb-2">
              <span class="input-group-text" style="background-color: #00BFFF;">
                  <span class="fas fa-user-circle"></span>
              </span>
              <input type="text" name="username" placeholder="Username" class="form-control" aria-label="Username">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" style="background-color: #00BFFF;">
                  <span class="fas fa-key"></span>
              </span>
              <input type="password" name="password" placeholder="Password" class="form-control" aria-label="Username">
            </div>
        </fieldset>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-info">Login</button>
        </div>
    </form>
    <br/>

    <div class="text-center">
        <span>Do not have an account?</span>
        <a href="{% url 'sales:register' %}">Sign Up</a>
    </div>
</div>

{% endblock %}
